* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, html {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2000px;
    }


#Intro {
  background-color: rgb(174, 220, 238);
}
#Quien-soy {
    background-color: rgb(109, 211, 252);
}
#Cosas-feliz {
    background-color: rgb(91, 199, 241);
}
#Cosas-enojar {
    background-color: rgb(65, 199, 251);
}
#Unico {
    background-color: rgb(6, 183, 253);
}



div { 
    padding: 10px 30px;      
}

.full-screen {
    min-width: 100vw;
    min-height: 100vh;
    }

button {
    
    width: 100vw;
    height: 34px;
    background-color: brown;
    align-self: center;
    font-size: 12px;
}

.Menu {
    position: fixed;
    display: flex;
    flex-direction: columns;

}

.Conteiner {
    max-width: 75%;
    margin: 0 auto;
    padding: 250px;
}



h1, h2 {
    margin: 50px;
}


