* { margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

html, html {
    min-height: 100vh;
    scroll-behavior: smooth;
  
}

a {
    text-decoration: none;
    color: white;
    }


#Intro {
    background-color: #94def3;
background-image: linear-gradient(100deg, #94def3 1%, #5a61c6 100%);


}
#Quien-soy {
    background-color: #78cae0;
background-image: linear-gradient(100deg, #78cae0 1%, #555cc3 100%);

    
}
#Cosas-feliz {
    background-color: #5eb6ce;
background-image: linear-gradient(100deg, #5eb6ce 1%, #4d54bb 100%);

    
}
#Cosas-enojar {
    background-color: #5eb6ce;
    background-image: linear-gradient(100deg, #5eb6ce 1%, #4d54bb 100%);
    
}
#Unico {
    background-color: #3689a0;
background-image: linear-gradient(100deg, #3689a0 1%, #3f46a7 100%);

}



div { 
    padding: 10px 30px;      
}

.full-screen {
    min-width: 100vw;
    min-height: 100vh;
    }

li, ul {
    
    width: 95vw;
    height: 30px;
    background-color: rgb(240, 70, 70);
    align-self: center;
    font-size: 14px;
    border: 1px brown;
}

.Menu {
    position: fixed;
    display: flex;
    flex-direction:;

}

.Conteiner {
    max-width: 75%;
    margin: 0 auto;
    padding: 250px;
}



h1, h2 {
    margin: 50px;
}

li{
    list-style: none;
}


